body {
  padding-top: 50px;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.navbar-fixed-top {
  border: 0;
}
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.play-details{
  height: 500px;
}

.settings-body{
  height: 500px;
}

#team-plays{
  margin-top: 1em;
}

#menu-column{
    margin-bottom: 3em;
}

.none{
  display: none;
}

.center {
    text-align: center;
}

#coin-flip-button{
  background-color: #824100;
  width: 200px;
  margin: 0 auto; 
  height: 200px;
  border-radius: 50%;
}

#coin-flip-button:hover{
  background-color: #603000;
  width: 200px;
  margin: 0 auto; 
  height: 200px;
  border-radius: 50%;
}

#coin-text{
  position: relative;
  text-align: center;
  top:27%;
  font-size: 4em;
  font-weight: bold;
}

#secondary-coin-settings{
  display: none;
}

/*
this is only for my offense creator
*/
#offense-row-select{
  margin-bottom: 10px;
  width: 50px;
}

.blue-btn{
  background-color: blue;
  color: white;
  font-weight: bold;
}
.red-btn{
  background-color: red;
  font-weight: bold;
}
.black-btn{
  background-color: black;
  color: white;
  font-weight: bold;
}
.fumble-btn{
  background-color: brown;
  font-weight: bold;
}
.interception-btn{
  font-weight: bold;
}

.oneTenth{
  background-color: gray;
  height: 150px;
  border-right: 2px solid white;
  border-left: 2px solid white; 
}

.oneTenthCenter{
  background-color: gray;
  height: 75px;
  border-top: 2px dashed white;
  border-bottom: 2px dashed white; 
  border-right: 2px solid white;
  border-left: 2px solid white; 
}

.oneTenthCenterRightEnd{
  background-color: gray;
  height: 75px;
  border-right: 2px solid white;
  border-left: 2px solid white; 
}

.oneTenthCenterLeftEnd{
  background-color: gray;
  height: 75px;
  border-right: 2px solid white;
  border-left: 2px solid white; 
}

.fieldOutline{
  border: 10px solid white;
  outline: 5px solid black;
}

.fieldNumberRight{
  color: white;
  float: right;
  font-size: 20px;
  font-weight: bold;
  margin: 15px -10px 0 0;
}

.fieldNumberLeft{
  color: white;
  float: left;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0 0 -10px;
}

.fieldNumberRightB{
  color: white;
  float: right;
  font-size: 20px;
  font-weight: bold;
  margin: 105px -10px 0 0;

  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.fieldNumberLeftB{
  color: white;
  float: left;
  font-size: 20px;
  font-weight: bold;
  margin: 105px 0 0 -10px;

  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

#leftEndzone{
  font-size: 50px;
  font-weight: bold;

  position: absolute;
  left: 0px;
  top: 0px;
  margin: 145px 0 0 -130px;
  height: 80px;
  width: 350px;
  z-index: 99;

  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#rightEndzone{
  font-size: 50px;
  font-weight: bold;

  position: absolute;
  right: 0px;
  top: 0px;
  margin: 145px -130px 0 0;
  height: 80px;
  width: 350px;
  z-index: 99;

  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

#leftTeamPosition{
  background-color: red;
  position: absolute;
  width: 100px;
  z-index: 100;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#rightTeamPosition{
  background-color: orange;
  position: absolute;
  width: 100px;
  z-index: 100;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

#lineOfScrimmage{
  background-color: transparent;
  border-right: 4px solid blue; 
  position: absolute;
  z-index: 75;
  height: 375px;
  width: 10px;
}

#firstDownPosition{
  background-color: transparent;
  border-right: 4px solid yellow;
  position: absolute;
  z-index: 75;
  height: 375px;
  width: 10px;
}

#fieldGoalPosition{

}

@font-face {
    font-family: squarefont;
    src: url(Square.ttf);
}
.squarefont{
    font-family: squarefont;
}

@font-face {
    font-family: sportsballs;
    src: url(Sportz.ttf);
}
.sportsballs{
    font-family: sportsballs;
}

#scoreboard{
  border-radius: 15px;
  background-color: black;
  color: white;
  margin-bottom: 15px;
}

#scoreboard-away{
  font-size: 2.5em;
}
#scoreboard-home{
  font-size: 2.5em;
}
#scoreboard-time{
  font-size: 3em;
  color: yellow;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  padding: 0;
}
#scoreboard-away-score{
  font-size: 3em;
  color: yellow;
}
#scoreboard-home-score{
  font-size: 3em;
  color: yellow;
}
#scoreboard-away-tol{
  font-size: 1.3em;
  color: white;
}
#scoreboard-t1-tol-value{
  font-size: 1.3em;
  color: yellow;
}
#scoreboard-home-tol{
  font-size: 1.3em;
  color: white;
}
#scoreboard-t2-tol-value{
  font-size: 1.3em;
  color: yellow;
}
#scoreboard-quarter{
  font-size: 1.3em;
  color: white;
}
#scoreboard-qtr-value{
  font-size: 1.3em;
  color: yellow;
}
#scoreboard-down{
  font-size: 1.7em;
  color: white;
}
#scoreboard-down-value{
  font-size: 1.7em;
  color: yellow;
}
#scoreboard-togo{
  font-size: 1.7em;
  color: white;
}
#scoreboard-togo-value{
  font-size: 1.7em;
  color: yellow;
}
#scoreboard-ballon{
  font-size: 1.7em;
  color: white;
}
#scoreboard-ballon-value{
  font-size: 1.7em;
  color: yellow;
}
#scoreboard-away-ball{
    font-family: sportsballs;
    font-size: 2em;
    padding-left: 40px;
}
#scoreboard-home-ball{
    font-family: sportsballs;
    font-size: 2em;
    padding-right: 40px;
}

.select-box{
  font-size:1.2em;
}

.select-hover:hover{
  background-color:black;
}

#bead{
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border:solid black 2px;
    z-index: 1000;
    position: absolute;
    top:200px;
    left:10%;
}
.onebead{
    background-color: gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100px;
    border: solid black 3px;
}
.twobead{
    background-color: lightgray;
    height: 25px;
    border: solid black 3px;
}
.threebead{
    background-color: gray;
    height: 125px;
    border: solid black 3px;
}
.fourbead{
    background-color: lightgray;
    height: 50px;
    border: solid black 3px;
}
.fivebead{
    background-color: gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 200px;
    border: solid black 3px;
}

#twoPTSetup{
    margin:0 auto;
}
#fieldGoalSetup{
    margin:0 auto;
}